USE [GMS]
GO
/****** Object:  Table [dbo].[activityLogDB]    Script Date: 03/01/2026 9:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activityLogDB](
	[activityLogID] [smallint] IDENTITY(500,1) NOT NULL,
	[doneByUserID] [smallint] NOT NULL,
	[targetItemID] [smallint] NULL,
	[activityDT] [datetime] NOT NULL,
	[description] [nvarchar](50) NOT NULL,
	[targetUserID] [smallint] NULL,
 CONSTRAINT [PK_ACTIVITY_LOG] PRIMARY KEY CLUSTERED 
(
	[activityLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cartItemsDB]    Script Date: 03/01/2026 9:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cartItemsDB](
	[cartID] [smallint] NOT NULL,
	[itemID] [smallint] NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_cartItemsDB] PRIMARY KEY CLUSTERED 
(
	[cartID] ASC,
	[itemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cartsDB]    Script Date: 03/01/2026 9:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cartsDB](
	[cartID] [smallint] IDENTITY(300,1) NOT NULL,
	[soldByUserID] [smallint] NOT NULL,
	[discountID] [smallint] NULL,
	[cartStatus] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CARTS] PRIMARY KEY CLUSTERED 
(
	[cartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[discountDB]    Script Date: 03/01/2026 9:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[discountDB](
	[discountID] [smallint] IDENTITY(400,1) NOT NULL,
	[percentage] [smallint] NOT NULL,
 CONSTRAINT [PK_discountDB] PRIMARY KEY CLUSTERED 
(
	[discountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[itemsDB]    Script Date: 03/01/2026 9:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[itemsDB](
	[itemID] [smallint] IDENTITY(200,1) NOT NULL,
	[itemName] [nvarchar](50) NOT NULL,
	[category] [varchar](50) NOT NULL,
	[price] [float] NOT NULL,
	[qtyInStock] [int] NOT NULL,
 CONSTRAINT [PK_itemsDB] PRIMARY KEY CLUSTERED 
(
	[itemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[salesLogDB]    Script Date: 03/01/2026 9:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[salesLogDB](
	[salesLogID] [smallint] IDENTITY(600,1) NOT NULL,
	[cartID] [smallint] NOT NULL,
	[soldByUserID] [smallint] NOT NULL,
	[salesDT] [datetime] NOT NULL,
	[salesTotal] [float] NOT NULL,
 CONSTRAINT [PK_SALESLOG] PRIMARY KEY CLUSTERED 
(
	[salesLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stockNotificationDB]    Script Date: 03/01/2026 9:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stockNotificationDB](
	[stockNotificationID] [smallint] IDENTITY(1,1) NOT NULL,
	[itemID] [smallint] NOT NULL,
	[stockNotificationStatus] [varchar](50) NOT NULL,
 CONSTRAINT [PK_stockNotificationDB] PRIMARY KEY CLUSTERED 
(
	[stockNotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usersDB]    Script Date: 03/01/2026 9:33:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usersDB](
	[userID] [smallint] IDENTITY(100,1) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[gender] [varchar](50) NOT NULL,
	[phoneNo] [int] NOT NULL,
	[password] [varchar](50) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[role] [varchar](50) NOT NULL,
	[securityAnswer] [nvarchar](50) NOT NULL,
	[assignedCounter] [smallint] NULL,
	[accountStatus] [varchar](50) NOT NULL,
 CONSTRAINT [PK_usersDB] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[activityLogDB]  WITH CHECK ADD  CONSTRAINT [FK_activityLogDB_activityLogDB] FOREIGN KEY([activityLogID])
REFERENCES [dbo].[usersDB] ([userID])
GO
ALTER TABLE [dbo].[activityLogDB] CHECK CONSTRAINT [FK_activityLogDB_activityLogDB]
GO
ALTER TABLE [dbo].[cartItemsDB]  WITH CHECK ADD  CONSTRAINT [FK_cartItemsDB_cartsDB] FOREIGN KEY([cartID])
REFERENCES [dbo].[cartsDB] ([cartID])
GO
ALTER TABLE [dbo].[cartItemsDB] CHECK CONSTRAINT [FK_cartItemsDB_cartsDB]
GO
ALTER TABLE [dbo].[cartItemsDB]  WITH CHECK ADD  CONSTRAINT [FK_cartItemsDB_itemsDB] FOREIGN KEY([itemID])
REFERENCES [dbo].[itemsDB] ([itemID])
GO
ALTER TABLE [dbo].[cartItemsDB] CHECK CONSTRAINT [FK_cartItemsDB_itemsDB]
GO
ALTER TABLE [dbo].[cartsDB]  WITH CHECK ADD  CONSTRAINT [FK_cartsDB_discountDB] FOREIGN KEY([cartID])
REFERENCES [dbo].[discountDB] ([discountID])
GO
ALTER TABLE [dbo].[cartsDB] CHECK CONSTRAINT [FK_cartsDB_discountDB]
GO
ALTER TABLE [dbo].[cartsDB]  WITH CHECK ADD  CONSTRAINT [FK_cartsDB_usersDB] FOREIGN KEY([cartID])
REFERENCES [dbo].[usersDB] ([userID])
GO
ALTER TABLE [dbo].[cartsDB] CHECK CONSTRAINT [FK_cartsDB_usersDB]
GO
ALTER TABLE [dbo].[salesLogDB]  WITH CHECK ADD  CONSTRAINT [FK_salesLogDB_cartsDB] FOREIGN KEY([cartID])
REFERENCES [dbo].[cartsDB] ([cartID])
GO
ALTER TABLE [dbo].[salesLogDB] CHECK CONSTRAINT [FK_salesLogDB_cartsDB]
GO
ALTER TABLE [dbo].[salesLogDB]  WITH CHECK ADD  CONSTRAINT [FK_salesLogDB_usersDB] FOREIGN KEY([soldByUserID])
REFERENCES [dbo].[usersDB] ([userID])
GO
ALTER TABLE [dbo].[salesLogDB] CHECK CONSTRAINT [FK_salesLogDB_usersDB]
GO
ALTER TABLE [dbo].[stockNotificationDB]  WITH CHECK ADD  CONSTRAINT [FK_stockNotificationDB_itemsDB] FOREIGN KEY([stockNotificationID])
REFERENCES [dbo].[itemsDB] ([itemID])
GO
ALTER TABLE [dbo].[stockNotificationDB] CHECK CONSTRAINT [FK_stockNotificationDB_itemsDB]
GO
